<th:block th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="single-widget">
                        <h2 class="widget-title">회사소개</h2>
                        <div class="widget-inner">
                            <p>사무실 : 서울특별시 서대문구 통일로 97</p>
                            <p>전화 : 02-123-4567</p>
                            <p>Fax: 02-1234-5678</p>
                            <p>Email: kjo99131@naver.com</p>
                            <img src="/images/payment.png" alt="we accept">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="single-widget">
                        <h2 class="widget-title">정보</h2>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="">자주 묻는 질문</a></li>
                                <li><a href="">이용 약관</a></li>
                                <li><a href="">개인정보처리방침</a></li>
                                <li><a href="">고객 서비스</a></li>
                                <li><a href="">배송 정보</a></li>
                                <li><a href="">제조업체</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="single-widget">
                        <h2 class="widget-title">고객 지원</h2>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="">문의하기</a></li>
                                <li><a href="">사이트맵</a></li>
                                <li><a href="">상품권</a></li>
                                <li><a href="">24시간 연중무휴 실시간 채팅</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="single-widget">
                        <h2 class="widget-title">서비스</h2>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="">배송 및 반품</a></li>
                                <li><a href="">안전한 쇼핑</a></li>
                                <li><a href="">해외 배송</a></li>
                                <li><a href="">제휴사</a></li>
                                <li><a href="">문의</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright text-center">
        <div class="container">
            <div class="row">
                <p class="copyright"> Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a></p>
                <p>이 페이지는 웹 개발 전반에 대한 이해와 기술 역량을 보여드리기 위해 제작된 개인 포트폴리오입니다.</p>
            </div>
        </div>
    </div>
</th:block>