<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <header class="dm-header">
        <div class="dm-topline">
            <div class="container dm-topline-inner">
                <span>오늘 주문 시 빠른 출고 · 5만원 이상 무료배송</span>
                <nav aria-label="회원 메뉴">
                    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/mypage}">마이페이지</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                </nav>
            </div>
        </div>

        <div class="container dm-mainnav">
            <a class="dm-brand" th:href="@{/main}" aria-label="devMart 홈">
                <img src="/images/devmart-logo.svg" alt="devMart">
            </a>

            <form class="dm-search" th:action="@{/product/list}" method="get" role="search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="searchKeyword" placeholder="상품명, 카테고리, 키워드 검색">
                <button type="submit">검색</button>
            </form>

            <a class="dm-cart-link" th:href="@{/cart.html}" aria-label="장바구니">
                <span class="dm-cart-icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                <span class="cart-text">장바구니<br>0 건 - 0원</span>
            </a>
        </div>

        <nav class="dm-category-nav" aria-label="상품 카테고리">
            <div class="container">
                <a th:href="@{/product/list}">전체</a>
                <a th:href="@{/product/list(categoryType='WOMEN')}">여성</a>
                <a th:href="@{/product/list(categoryType='MEN')}">남성</a>
                <a th:href="@{/product/list(categoryType='SHOES')}">신발</a>
                <a th:href="@{/product/list(categoryType='BAG')}">가방</a>
                <a th:href="@{/product/list(categoryType='ACC')}">잡화</a>
                <a th:href="@{/product/list(categoryType='KIDS')}">키즈</a>
                <a th:href="@{/product/list(categoryType='SPORTS')}">스포츠</a>
                <a th:href="@{/product/list(categoryType='ETC')}">라이프</a>
            </div>
        </nav>
    </header>
</th:block>
