<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.devMart.mapper.CartMapper">
    <select id="selectCartListByUser" parameterType="map" resultType="kr.co.devMart.common.util.CamelMap">
        SELECT * FROM TB_CART WHERE USER_ID = #{userId}
    </select>
    <insert id="insertCart" parameterType="map">
        INSERT INTO TB_CART (USER_ID, PRODUCT_ID, QUANTITY, CREATE_DATE)
        VALUES (#{userId}, #{productId}, #{quantity}, NOW())
    </insert>
    <update id="updateCartQuantity" parameterType="map">
        UPDATE TB_CART SET QUANTITY = #{quantity}, UPDATE_DATE = NOW()
        WHERE ID = #{id}
    </update>
    <delete id="deleteCart" parameterType="map">
        DELETE FROM TB_CART WHERE ID = #{id}
    </delete>
    <delete id="deleteCartByUser" parameterType="map">
        DELETE FROM TB_CART WHERE USER_ID = #{userId}
    </delete>
</mapper>
