<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.devMart.mapper.ProductMapper">
    <select id="selectProductList" resultType="kr.co.devMart.common.util.CamelMap">
        SELECT
            ID,
            NAME,
            DESCRIPTION,
            PRICE,
            IMAGE_URL,
            CREATE_DATE,
            UPDATE_DATE
        FROM TB_PRODUCT
        ORDER BY CREATE_DATE DESC
    </select>
</mapper>